
{% extends 'layout.html' %}
{% block body %}
<div class="container nav-page">
    <div class="container nav-container bg-light mt-2 p-3">
        <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.email.label(class='form-control-label')}}
                    {% if form.email.errors %}
                    {{form.email(class='form-control is-invalid')}}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                {% else %}
                    {{form.email(class='form-control')}}
                {% endif %}
            </div>
            <div class="text-center mt-3">
                {{form.submit(class='btn btn-outline')}}
            </div>
         
        </form>
    
    </div>
</div>
{% endblock %}