
{% extends 'layout.html' %}
{% block body %}
<div class="container nav-page">
    <div class="container nav-container bg-light mt-2 p-3">
        <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.email.label(class='form-control-label')}}
                    {% if form.email.errors %}
                    {{form.email(class='form-control is-invalid')}}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                {% else %}
                    {{form.email(class='form-control')}}
                {% endif %}
            </div>
            <div class="form-group my-3">
                {{form.password.label(class='form-control-label')}}
                {% if form.password.errors %}
                {{form.password(class='form-control is-invalid')}}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">
                            {{error}}
                        </div>
                    {% endfor %}
            {% else %}
                {{form.password(class='form-control')}}
            {% endif %}
            </div>
            <!-- Remember -->
            <div class="form-check form-switch">
                {{form.remember.label(class='form-check-label')}}
                {{form.remember(class="form-check-input")}}
            </div>
            <div class="text-center mt-3">
                {{form.submit(class='btn btn-outline')}}
            </div>
            <small class="text-muted ml-2 ">
                <a href="#">Forgot password ? </a>
            </small>
        </form>
        <div class="text-muted ">
            <small>Need an account ? <a href="{{url_for('register')}}">Sign Up</a></small>
        </div>
    </div>
</div>
{% endblock %}